body[b-ize7z83uz2] {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1[b-ize7z83uz2] {
    font-size: 28px;
    margin-bottom: 20px;
}

div[b-ize7z83uz2] {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

label[b-ize7z83uz2] {
    display: block;
    margin: 10px 0;
    font-size: 16px;
}

input[b-ize7z83uz2],
select[b-ize7z83uz2] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[b-ize7z83uz2] {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

    button:hover[b-ize7z83uz2] {
        background-color: #0056b3;
    }
